SQL database

In [2]:
#MODULES
import pandas as pd  #we need pandas for dataframes,  pip install pandas
#import plotly.express as px  #we need ploty for graphs, pip install plotly-express
#import streamlit as st  #we need streamlit for visualisation, pip install streamlit
import seaborn as sns
import sqlite3

In [3]:
db_path = 'bce.db'

In [4]:
con = sqlite3.connect(db_path)

In [5]:
cur = con.cursor()

In [6]:
res = cur.execute("SELECT Language FROM code")

Which percentage of the companies are under which juridical form?

Table = enterprise

Column = JuridicalForm

group by = JuridicalForm count by 

count all

check duplicates

In [29]:
juridical_form_A = cur.execute("""
    SELECT 
        EnterpriseNumber,
        enterprise.JuridicalForm AS JuridicalForm,
        code.Description AS Description
    FROM
        enterprise
        INNER JOIN code ON code.Code = enterprise.JuridicalForm WHERE code.Language == 'FR' AND code.Category == 'JuridicalForm'
    GROUP BY
        enterprise.JuridicalForm
    LIMIT 10;
""")

In [59]:
juridical_form_B = cur.execute("""
    SELECT 
        JuridicalForm,COUNT(*)
    FROM
        enterprise
        
    GROUP BY
        enterprise.JuridicalForm;
    
""")

In [69]:
juridical_form_C = cur.execute("""
    SELECT 
        JuridicalForm AS JuridicalFormID,
        code.Description AS JuridicalFormName,
        (JuridicalForm/COUNT(*)) AS Percentage
    FROM
        enterprise,
        INNER JOIN code ON code.Code = enterprise.JuridicalForm WHERE code.Language == 'FR' AND code.Category == 'JuridicalForm'
    GROUP BY
        enterprise.JuridicalForm
    LIMIT 10;
""")
juridical_form_C

OperationalError: no such table: INNER

|JuridicalForm_ID|JuridicalForm_Name_FR|Percentage|
|-|-|-|
|007|'Jur007'|0.03|

In [30]:
juridical_form_A.fetchall()

[('0665.770.485', '001', 'Société coopérative européenne'),
 ('0408.597.355', '002', 'Organisme de financement de pensions'),
 ('0500.449.130', '003', 'Unité TVA'),
 ('0405.140.195', '006', 'Société coopérative à responsabilité illimitée'),
 ('0447.181.183',
  '007',
  'Société coopérative à responsabilité illimitée et solidaire, société coopérative de participation'),
 ('0200.362.408', '008', 'Société coopérative à responsabilité limitée'),
 ('0403.549.197',
  '009',
  'Société coopérative à responsabilité limitée, coopérative de participation'),
 ('0400.003.848', '011', 'Société en nom collectif'),
 ('0400.130.245', '012', 'Société en commandite simple'),
 ('0400.571.002', '013', 'Société en commandite par actions')]

In [60]:
total_by_juridical_form = juridical_form_B.fetchall()
total_by_juridical_form

[(None, 763643),
 ('001', 7),
 ('002', 160),
 ('003', 7673),
 ('006', 4648),
 ('007', 2),
 ('008', 12487),
 ('009', 18),
 ('011', 23453),
 ('012', 33097),
 ('013', 1621),
 ('014', 99035),
 ('015', 356509),
 ('016', 11655),
 ('017', 140375),
 ('018', 376),
 ('019', 1699),
 ('020', 1633),
 ('021', 79),
 ('022', 852),
 ('023', 33),
 ('025', 2156),
 ('026', 1940),
 ('027', 23),
 ('028', 2),
 ('029', 442),
 ('030', 61875),
 ('040', 5),
 ('051', 234),
 ('060', 243),
 ('065', 285),
 ('070', 94015),
 ('108', 34),
 ('110', 5),
 ('114', 52),
 ('116', 39),
 ('117', 27),
 ('123', 24),
 ('124', 5084),
 ('125', 2380),
 ('127', 1),
 ('129', 333),
 ('151', 267),
 ('160', 183),
 ('200', 3),
 ('217', 7),
 ('218', 5),
 ('230', 4005),
 ('235', 12321),
 ('265', 7),
 ('301', 12),
 ('302', 2),
 ('303', 45),
 ('310', 41),
 ('320', 8),
 ('325', 2),
 ('330', 11),
 ('340', 15),
 ('350', 6),
 ('370', 2),
 ('371', 1),
 ('373', 1),
 ('379', 60),
 ('380', 2),
 ('383', 1),
 ('385', 4),
 ('386', 5),
 ('387', 1),
 ('388', 6),
 ('393', 3),
 ('400', 16),
 ('411', 583),
 ('412', 583),
 ('413', 193),
 ('414', 21),
 ('415', 72),
 ('416', 26),
 ('417', 56),
 ('418', 288),
 ('419', 27),
 ('420', 129),
 ('422', 33),
 ('451', 127),
 ('452', 19),
 ('453', 200),
 ('454', 74),
 ('506', 11),
 ('508', 520),
 ('511', 6),
 ('512', 18),
 ('513', 2),
 ('514', 39),
 ('515', 84),
 ('560', 6),
 ('608', 1),
 ('610', 170607),
 ('612', 17228),
 ('616', 47),
 ('617', 2),
 ('651', 1),
 ('702', 30),
 ('706', 678),
 ('716', 2),
 ('721', 25178),
 ('722', 62),
 ('724', 1),
 ('790', 9),
 ('999', 1033)]

In [61]:
total_by_juridical_form_df = pd.DataFrame(total_by_juridical_form, columns=['juridical_form','counts'])

In [62]:
total_by_juridical_form_df

    juridical_form  counts
0             None  763643
1              001       7
2              002     160
3              003    7673
4              006    4648
..             ...     ...
103            721   25178
104            722      62
105            724       1
106            790       9
107            999    1033

[108 rows x 2 columns]

In [64]:
total_by_juridical_form_df.shape[0]

108

In [63]:
total_by_juridical_form_df['percentage'] = total_by_juridical_form_df['counts']/1863292

In [ ]:
total_by_juridical_form_df['percentage'] = total_by_juridical_form_df['counts']/enterprise_df.shape[0]

In [45]:
total_enterprises = cur.execute("""
    SELECT 
        COUNT(*)
    FROM enterprise
    """)

In [40]:
total_enterprises_b = cur.execute("""
    SELECT COUNT(*) FROM enterprise
    """)

total_enterprises_b.fetchall()

[(1863292,)]

In [46]:
total_enterprises.fetchall()

[(1863292,)]